<div id="page_wrapper">
    <div id="profile_image">
        <%=image_tag "profile.png"%>
    </div>

    <div id="content">
    <h1>My name is Olga</h1>
    <p>jndiasneini h wbwqi u  ifwfnklfj</p>
    </div>
</div>